<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">

    <style>
    .markdown-body img {
      max-width: 45rem;
      max-height: 40rem;
    }
    </style>
  </head>
  <body>
    <div class="container-md px-3 my-5 {% if page.title %} markdown-body {% endif %}">
      {% if page.title %}
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_string }} by <a href="/">晓晨</a></p>
      {% elsif site.title %}
        <p>{{ site.title }}</p>
      {% endif %}
      <br>

      {{ content }}

      <br>
      <p>@goxcif</p>
    </div>
    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>
  </body>
</html>
